.footer_last {
    background: #f0eff0 none repeat scroll 0 0;
    padding: 25px 0;
}
.footer_last p, .footer_last a {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    color: #666;
    margin: 0;
}
.social-icons a {
    font-size: 16px;
    padding: 7px 12px;
    line-height: 36px;
    text-align: center;
    margin-right: 6px;
    border-radius: 3px;
    background: #f1d4d4;
    transition: 0.4s;
    color: #E21B1B;
}
.footer_initial p {
    font-size: 17px;
    font-weight: normal;
    line-height: 26px;
    color: #666;
    margin-bottom: 25px;
}
.footer_initial img {
    width: 87%;
    margin-bottom: 20px;
}
svg.svg-inline--fa.fa-twitter.fa-w-16 {
    width: 0.8em;
}
.footer_initial {
    padding: 100px 0 90px;
}
svg.svg-inline--fa.fa-facebook-f.fa-w-10 {
    width: 0.8em;
}
.social-icons a:hover{
    color: #fff;
    background: #E21B1B;
    transition: 0.4s;
}
.suscribe_input {
    display: flex;
}
button#sus_submit {
    border-radius: 0;
    padding: 20px 13px;
    display: flex;
    align-items: center;
}
input#sus_email {
    border-radius: 0;
}