body{
  font-family: 'Poppins', sans-serif;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 60px;
  background: #2a354e;
  color: white;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background: #E21B1B;
}
div.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255);
}